In [1]:
import os
import sys
import zipfile

import pandas as pd

In [2]:
# CUR_DIR = os.path.dirname(os.path.abspath(__file__))
CUR_DIR = os.getcwd()
CUR_DIR

'/Users/fulofwrk/Documents/github/dacon_136'

In [3]:
zf = zipfile.ZipFile(os.path.join(CUR_DIR, 'data', 'train.csv.zip'))
df = pd.read_csv(zf.open("train.csv"))

print("# of train dataset :", len(df))

# of train dataset : 3362796

In [4]:
df.head(3)

,store_id,date,time,card_id,amount,installments,days_of_week,holyday
0,0,2016-12-14,18:05:31,d297bba73f,5,NaN,2,0
1,0,2016-12-14,18:05:54,d297bba73f,-5,NaN,2,0
2,0,2016-12-19,12:42:31,0880849c05,144,NaN,0,0

- store_id : 상점 고유 번호 (해당 기한 내 개업 혹은 폐업한 상점도 있음)
- date : 거래 일자
- time : 거래 시간
- card_id : 카드 번호의 hash 값
- amount : 매출 금액, 음수인 경우는 취소 거래
- installments : 할부 개월 수, 일시불은 빈 문자열
- days_of_week : 요일, 월요일이 0, 일요일은 6
- holiday : 1이면 공휴일, 0이면 공휴일 아님

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362796 entries, 0 to 3362795
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   store_id      int64
 1   date          object
 2   time          object
 3   card_id       object
 4   amount        int64
 5   installments  float64
 6   days_of_week  int64
 7   holyday       int64
dtypes: float64(1), int64(4), object(3)
memory usage: 205.2+ MB

In [13]:
df.describe()

           store_id        amount  installments  days_of_week       holyday
count  3.362796e+06  3.362796e+06  16860.000000  3.362796e+06  3.362796e+06
mean   8.323770e+02  1.459623e+02      3.459490  3.066320e+00  4.431283e-02
std    5.468544e+02  6.017306e+02      2.382382  1.976153e+00  2.057892e-01
min    0.000000e+00 -2.500000e+05      2.000000  0.000000e+00  0.000000e+00
25%    3.350000e+02  3.200000e+01      3.000000  1.000000e+00  0.000000e+00
50%    8.220000e+02  7.500000e+01      3.000000  3.000000e+00  0.000000e+00
75%    1.342000e+03  1.500000e+02      3.000000  5.000000e+00  0.000000e+00
max    1.799000e+03  2.500000e+05     36.000000  6.000000e+00  1.000000e+00

In [7]:
print("# of unique stores :", df.store_id.nunique())
print("# of unique card ids :", df.card_id.nunique())

# of unique stores : 1775
# of unique card ids : 922522